.card-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #00c6ff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.card-btn:hover {
  background: #009edb;
}

/* Footer */
.footer {
  background: #112233;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #223344;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: #00c6ff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}
